.List {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}


.List .AddEntry {
    font-size: 1.25rem;
    border: none;

    background-color: var(--button-color);
    color: var(--base-text-color);

    transition: background-color var(--transition-settings);
}


.List .AddEntry:hover { background-color: var(--button-color-hover); cursor: pointer; }