:root {
    --bool-true-color: rgb(48, 248, 48);
    --bool-true-hover-color: rgb(72, 248, 72);
    --bool-false-color: rgb(248, 48, 48);
    --bool-false-hover-color: rgb(248, 72, 72);
}


.ListEntry * {
    color: var(--dark-text-color);
    font-size: 1.25rem;
    border: none;
}


.ListEntry {
    display: flex;
    width: 100%;
    gap: 0.25rem;

    align-items: stretch;
}


.ListEntry input {
    flex: 1;

    color: var(--base-text-color);
    background-color: var(--dark-text-color);
}


.ListEntry .False { background-color: var(--bool-false-color); }
.ListEntry .True { background-color: var(--bool-true-color); }
.ListEntry .False:hover { background-color: var(--bool-false-hover-color); }
.ListEntry .True:hover { background-color: var(--bool-true-hover-color); }
.ListEntry .ToggleComplete:hover, .ListEntry .RemoveButton:hover { cursor: pointer; }


.ListEntry .ToggleComplete, .ListEntry .RemoveButton {
    padding: 0.25rem 1rem;
    transition: background-color var(--transition-settings);
}